# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Output of 'go build'
*.out

# Dependency directories
vendor/

# Go module cache
.go/

# IDE specific files
.idea/
.vscode/

# Operating System artifacts
.DS_Store
Thumbs.db

# Log files
*.log

/database 
./database

database

.env

node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

